* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
}

nav {
    width: 10%;
    height: 100%;
    background-color: blueviolet;
}

main {
    width: 90%;
    height: 100%;
    padding: 2%;
    box-sizing: border-box;
}