/* Tudo completo por aqui */

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Nunito */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


#container {
    overflow-x: hidden;
    width: 700px;
    height: 550px;
    margin: 20px auto;
    padding: 40px;
    background: #A992F3;
    border-radius: 25px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
    text-align: center;
}

#container h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: #ffffff;
    font-family: "Montserrat";
    margin-bottom: 25px;
}

#container textarea {
    width: 90%;
    height: 120px;
    padding: 30px;
    font-size: 1.1rem;
    border-radius: 15px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

#container textarea:focus {
    outline: none;
    border-color: #420246;
    box-shadow: 0 0 10px rgba(48, 3, 72, 0.3);
}

#container button {
    display: block;
    margin: 30px auto 0;
    padding: 15px 40px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(20deg, #1C3AB4, #A992F3);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

#container button:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 20px rgba(9, 3, 94, 0.5);
}

#resposta {
    margin-top: 25px;
    padding: 25px;
    background: linear-gradient(120deg, #e8f0fe, #d1e3ff);
    border-left: 6px solid #350239;
    border-radius: 18px;
    display: none;
    font-family: "Nunito";
    font-size: 1rem;
    line-height: 1.6;
    white-space: pre-wrap;
    text-align: left;
}

.container-h3 {
    color: #fefefe;
    font-size: 20px;
    font-family: "Montserrat";
}

