:root {
    --laranja:#F67E27;
    --azul: #1C3AB4;
    --roxo: #C5B3FF;
    --bg: #FEFEFE;
    --border: 0.3rem solid #A992F3;
    font-size: 10px;
    --shadow:
}

section {
    margin: 0 auto;
    max-width: 1900px;

}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    /*  Por exemplo linhas embaixo do link */
    transition: 0.2s linear;
    /* todas as transições do nosso projeto terá 0.2 segundos */
  font-family: "Nunito", sans-serif;

}

body {
    background-color: var(--bg);
}
.container {
  display: grid;
  grid-template-columns: 11vw 1fr; /* lateral + conteúdo */
  grid-template-rows: auto 1fr; /* header + conteúdo */
  height: 100vh;
}
.header {
      grid-column: 1 / span 2; /* ocupa as duas colunas */
    height: 100%;
    position: block;
    /*Posição fixa da nav */
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #A992F3;
    /*Sempre vai ser o elemento da camada de cima */
    border-bottom: var(--border);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 2rem;

}
.header li{
    font-size: 35px;
}
.logoImg{
    width: 250px;
    height: 48px;
    order: -2;
}
.icon{
  font-size: 4rem;
    color: #fff;


}

.headerLateral {
    position: relative;
    top: 30vh;
  background-color: var(--roxo);
    flex-direction: column;
    display:flex;
    height: 93vh;
    width:11vw;
    /*Posição fixa da nav */
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    /*Sempre vai ser o elemento da camada de cima */
    border-right: var(--border);
}
.headerLateral section{
    flex-direction: column;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:start;

}
.contentSection{
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:flex-start;
    height: 5vh;
    margin-top: 4px;

}
.contentSection .iconLine{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}

.contentSection .iconLife{
    position: absolute;
    opacity: 1;
    transition: opacity .2s;
}


.contentSection:hover{
background-color: var(--roxo);
cursor: pointer;
color: white;
}
.contentSection:hover i{
    color: #fff;
}
.contentSection:hover .iconLine{
    opacity: 1;
}
.contentSection:hover .iconLife{
    opacity: 0;
}

.contentSection p{
font-size:medium;
margin-left: 10px;

}

.contentSection i ,img{
    flex-direction: row;
    font-size: 35px;
    color: #fff;
    width: 50px;
}

.painel{
    grid-row: 2;
    grid-column: 2;
    width: 85vw;
    height: 90vh;
}
 .content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.content section{
    display: flex;
    width: 100%;
    height:40%;

}


.content .title{
    width: 100%;
    height:10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.title p{
font-size: 4rem;
font-weight: 600;
margin-left: 3vw;

}
.title .optSalaMaternidade{

    border-radius: 2px;
    background-color: transparent;
    width: 8vw;
    height: 3vh;
    border: 2px;
    color:var(--roxo);
    border:0.2rem solid var(--roxo);
    font-weight: bold;

}
 .optSalaMaternidade option{
 background-color: transparent;
    border:0.2rem solid var(--roxo);


}

.encubadoras{
    display: flex;
    width: 45vw;
    height: 30vh;
    border: var(--border);
    margin-left: 3vw;
    border-radius: 2rem;
    align-items: end;
    flex-direction: column;
}
.tituloEncubadora{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 2rem;
}
.tituloEncubadora p {
    font-size: 2.4rem;
    font-weight:700;
}
.prematuros{
width: 100%;
height: 100%;
display: flex;
justify-self: center;
align-items: center;
flex-direction: column;
}
.infosGestacao{

width: 100%;
height: 82%;
display: flex;
justify-self: center;
align-items: center;
flex-direction: row;

}
.chart{
display: flex;
margin-bottom:2%;   
}
.contadores{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.contadores1E2{
    height: 50%;
    display: flex;
    width: 100%;
}
.contadorGestacao{
    
    border-radius: 1.5rem;
    margin-bottom: 6%;
        margin-left: 6%;

    height: 85%;
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.incDisponivel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 6%;
    height: 50%;
    width: 100%;
    border-radius: 1rem;
}
.incEmUso{
    border-radius: 1rem;
    margin-bottom: 6%;
    height: 45%;
    width: 100%;
    background-color: var(--laranja);
}
.MonitoramentoAlerta{
    display: flex;
    width: 43vw;
    height: 30vh;
    border: var(--border);
    margin-left: 3vw;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.212);
    border-radius: 2rem;
    align-items: center;
    flex-direction: column;
    align-items: space-between;
}
.tardio{
    background-color: #A5D8FF;
}
.moderado{
    background-color: #1C3AB4;
}
.extremo{
    background-color: var(--laranja);
}
.posTermo{
    background-color: var(--roxo);
}
.MonitoramentoAlerta .filtro{
    width: 7%;
    height: 5%;
    text-align:  center;
    justify-content: center;
    position: absolute;
    display: flex;
    right: 48vw;
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
    margin-top: 5px;
    border: var(--border);
    color:var(--roxo);
    border:0.2rem solid var(--roxo);
    font-weight: bold;
}
.MonitoramentoEncubadora{
    display: flex;
    width: 65vw;
    height: 40vh;
}
.alertasCriticos{
    display: flex;
    width: 15vw;
    height: 40vh;
    border: var(--border);
    margin-left: 3vw;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.212);
    border-radius: 2rem;
    align-items: center;
    flex-direction: column;
    align-items: space-between;
}

.alertasCriticos .titleCritico{
    width: 100%;
    height: 20%;
    display: flex;
      justify-content: center;
    align-items: center;
    
}
.titleCritico p {
    font-size:2.2rem;
    font-weight: 300;
    white-space: nowrap;
    text-align: center;
    
}
.hipertemia{

    background-color: var(--laranja);
}
.hipotermia{
    background-color: var(--roxo);
}
.contentContador{
    border-radius: 1rem;
    margin-bottom: 6%;
    height: 30%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo{
    color: #fff;
    font-size: 2rem;
    
    font-weight: bold;
}
.contador{
       color: #fff;
    font-size:4.5rem;
    font-weight: bold; 
}