/* Tudo completo por aqui */

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Nunito */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*Resentando todas as margens e paddings*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito';
    background-color: #A88CFF;
}

/* NavBar --------------------------------------------------------------------------------------*/

nav {
    z-index: 2;
    width: 100%;
    height: 10vh;
    display: flex;
    padding: 10px 2%;
    box-sizing: border-box;
    background-color: #FEFEFE;
    justify-content: space-between;
    box-shadow: 2px 0 4px #2E2E2E;
}

.logo {
    width: 15%;
    min-width: 150px;
}

nav>div {
    gap: 1.4rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}

nav>div a {
    font-size: 17px;
    cursor: pointer;
    font-weight: 500;
    color: #000000;
    font-family: "Nunito";
}

.nav-btn {
    padding: 8px 10px;
    border-radius: 10px;
    border: 2px solid #F67E27;
    background-color: transparent;
}

.nav-btn a {
    font-size: 14px;
    color: #F67E27;
    font-weight: bold;
}

.nav-btn a:hover {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}

.nav-btn:hover {
    transition: 0.5s;
    background-color: #F67E27;
}

a {
    color: inherit;
    text-decoration: none;
}

/* NavBar Fim  --------------------------------------------------------------------------------------*/

.container {
    width: 80%;
    height: auto;
    display: flex;
    min-height: 60vh;
    overflow: hidden;
    margin: 6vh auto 0;
    border-radius: 20px;
    background-color: #FEFEFE;
}

/* Lado esquerdo do container */

.lado-esquerdo {
    flex: 1;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.ilustracao img {
    width: 75%;
    left: 50px;
    position: relative;
}

.lado-direito {
    flex: 1;
    gap: 6px;
    display: flex;
    padding: 10px 20px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #FEFEFE;
    justify-content: flex-start;
}

h2 {
    color: #A88CFF;
    font-family: "Montserrat";
    font-size: 1.6rem;
    margin-top: 8%;
    margin-bottom: 10px;
    text-align: center;
}

.mensagem-cadastro {
    font-size: 16px;
    color: #555;
    margin-bottom: 2px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
    margin-left: 30px;
}

.input-group label {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 4px;
    text-align: left;
}

.input-group input {
    padding: 8px;
    border: 3px solid #A5D8FF;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    width: 95%;
}

.input-group input:focus {
    border-color: #1c3ab4;
    box-shadow: 0 0 0 2px rgba(165, 216, 255, 0.4);
}

/* BOTÃO CADASTRO */

.btn-cadastro {
    background-color: #F67E27;
    color: #FEFEFE;
    border: none;
    padding: 14px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    width: 86%;
    font-size: 22px;
    font-family: "Montserrat";
    font-weight: 700;
    margin-left: 8%;
    margin-top: 4%;
}

.btn-login:hover {
    background-color: #1C3AB4;
}

/* Etapas do forms */
.etapas {
    width: 80%;
    height: 5%;
    margin-top: 10%;
    background-color: #FEFEFE;
    flex-direction: column;
}

.etapasContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.etapa1 {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #A88CFF;
}

#linha {
    width: 40%;
    height: 15%;
    border: 2px solid #A88CFF;
    display: block;
}

#etapa2 {
    width: 35px;
    height: 35px;
    border-radius: 29px;
    border: 2px solid #A88CFF;
}

#linha2 {
    width: 32%;
    height: 15%;
    border: 2px solid #A88CFF;
    display: block;
}

.etapa3 {
    width: 35px;
    height: 35px;
    border-radius: 29px;
    border: 2px solid #A88CFF;
}

.etapasLabels {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.etapasLabels label {
    width: 35%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #666;
    transition: color .3s ease;
}

.etapasLabels label.ativa {
    color: #6C4DDC;
    font-weight: 700;
}

.etapasLabels label.concluida {
    color: #A88CFF;
}

#tabelaSalas {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

/* FORMULÁRIO */

#formCadastroHospital {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    gap: 6px;
    margin-top: 20px;
}






/* LINK DE LOGIN */

.cadastro {
    margin-top: 9px;
    text-align: center;
    color: #555;
}

.cadastro a {
    color: #F67E27;
    font-weight: 500;
    text-decoration: none;
}

.cadastro a:hover {
    text-decoration: underline;
}

#formCadastroGestor {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    gap: 6px;
    margin-top: 20px;
}

#msgErro {
    width: 50%;
    height: 10%;
    border: 2px solid #e40202;
    color: #e40202;
    font-weight: 900;
    font-size: larger;
}


.avisoSenha {
    font-size: 12px;
}






























































/* BOLINHAS ANIMADAS */

.decoracao {
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
}

.bola {
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
}

/* ANIMAÇÕES DAS BOLINHAS */

@keyframes mover1 {
    0% {
        transform: translate(0, 0) scale(1);
    }

    50% {
        transform: translate(20px, -25px) scale(1.05);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}

@keyframes mover2 {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(-25px, 30px) rotate(8deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes mover3 {
    0% {
        transform: translate(0, 0) scale(1);
    }

    50% {
        transform: translate(15px, -20px) scale(0.95);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}

@keyframes mover4 {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(-15px, 15px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes mover5 {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(30px, -15px);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* CORES DAS BOLINHAS */

.cor1 {
    background-color: #A5D8FF;
    width: 150px;
    height: 150px;
    top: 10%;
    left: 5%;
    animation: mover1 6s ease-in-out infinite alternate;
}

.cor2 {
    background-color: #A88CFF;
    width: 220px;
    height: 220px;
    top: 26%;
    left: 35%;
    animation: mover2 7s ease-in-out infinite alternate;
}

.cor3 {
    background-color: #DFE2CF;
    width: 100px;
    height: 100px;
    top: 76%;
    left: 60%;
    animation: mover3 6s ease-in-out infinite alternate;
}

.cor3-a {
    background-color: #DFE2CF;
    width: 80px;
    height: 80px;
    top: 10%;
    right: 10%;
    animation: mover4 7s ease-in-out infinite alternate;
}

.cor4 {
    background-color: #F67E27;
    width: 180px;
    height: 180px;
    bottom: 3%;
    left: 10%;
    animation: mover5 8s ease-in-out infinite alternate;
}

/* Alerta caso tenha uma validação errada */

.neo-alert {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.neo-alert-box {
    background: #ffffff;
    padding: 25px 35px;
    border-radius: 15px;
    width: 320px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    animation: popup .2s ease;
    border-left: 8px solid #A88CFF;
}

.neo-alert-box h3 {
    margin-bottom: 10px;
    color: #6E47E6;
    font-size: 1.3rem;
    font-weight: 700;
}

.neo-alert-box p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #333;
}

.neo-alert-box button {
    background: #F67E27;
    color: #fff;
    border: none;
    padding: 10px 22px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: .2s;
}

.neo-alert-box button:hover {
    background: #1C3AB4;
}

/* animação do alerta */

@keyframes popup {
    from {
        transform: scale(0.7);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}