/*Fonte Nunito*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: clamp(1.2em, 3vw, 1.5em)
}

h2 {
    font-size: clamp(1em, 2vw, 1.2em)
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    display: flex;
    background-color: #FEFEFE;
    color: #2E2E2E;
}

.logo {
    width: 65%;
    margin-top: 2%;
    align-self: center;
}

.nome-usuario {
    display: flex;
    font-size: 20px;
    margin-top: 10%;
    color: #ffffff;
    font-weight: 700;
    align-items: center;
    font-family: "Nunito";
}

/* Container principal do navbar */

nav {
    width: 16%;
    height: 100%;
    padding: 4% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 70px 70px 0;
    background-color: #C5B3FF;
    box-sizing: border-box;
}

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.nav-item {
    width: 82%;
    padding: 4%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 4%;
    border-radius: 4%;
    margin-left: 6%;
    color: #FAFAFA;
    font-weight: bold;
    font-family: "Nunito";
}

.nav-item>img {
    width: 10%;
    padding: 2%;
    display: flex;
    align-items: center;
    gap: 2%;
    color: #FAFAFA;
}

.nav-item:hover {
    background-color: #6343C7;
    cursor: pointer;
}

.selecionado {
    background-color: #6343C7;
}


.select-radio {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.option {
    width: 100%;
}

.option input {
    display: none;
}

.option label {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0 10px 20px;
    cursor: pointer;
    transition: .2s;
    user-select: none;
    color: #FAFAFA;
}

/* Cor quando selecionado */
.option input:checked+label {
    background-color: #8560F9;
}

/* Hover */
.option label:hover {
    background-color: #C5B3FF;
}

.iconeUTI {
    width: 10%;
    padding: 2%;
    display: flex;
    align-items: center;
    gap: 2%;
    color: #FAFAFA;
}



/* Botão de sair */
.exit {
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.exit>img {
    margin-left: -20%;
    width: 20%;
}
/* Fim do botão de sair */


/**/
main {
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}