/* Tudo completo por aqui */

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Nunito */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*Resentando todas as margens e paddings*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito';
    background-color: #A88CFF;
}

/* NavBar --------------------------------------------------------------------------------------*/

nav {
    z-index: 2;
    width: 100%;
    height: 10vh;
    display: flex;
    padding: 10px 2%;
    box-sizing: border-box;
    background-color: #FEFEFE;
    justify-content: space-between;
    box-shadow: 2px 0 4px #2E2E2E;
}

.logo {
    width: 15%;
    min-width: 150px;
}

nav>div {
    gap: 1.4rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}

nav>div a {
    font-size: 17px;
    cursor: pointer;
    font-weight: 500;
    color: #000000;
    font-family: "Nunito";
}

.nav-btn {
    padding: 8px 10px;
    border-radius: 10px;
    border: 2px solid #F67E27;
    background-color: transparent;
}

.nav-btn a {
    font-size: 14px;
    color: #F67E27;
    font-weight: bold;
}

.nav-btn a:hover {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}

.nav-btn:hover {
    transition: 0.5s;
    background-color: #F67E27;
}

a {
    color: inherit;
    text-decoration: none;
}

/* NavBar Fim  --------------------------------------------------------------------------------------*/

.container {
    width: 80%;
    height: auto;
    display: flex;
    min-height: 60vh;
    overflow: hidden;
    margin: 6vh auto 0;
    border-radius: 20px;
    background-color: #FEFEFE;
}

/* Lado esquerdo do container */

.lado-esquerdo {
    flex: 1;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.ilustracao img {
    width: 75%;
    left: 50px;
    position: relative;
}

/* BOLINHAS ANIMADAS */

.decoracao {
    inset: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
}

.bola {
    opacity: 0.6;
    position: absolute;
    border-radius: 50%;
}


/* Lado direito do container */

.lado-direito {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FEFEFE;
}

.logo-login h1 {
    color: #000000;
    font-size: 2.6rem;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.logo-login span {
    color: #A88CFF;
    font-family: "Montserrat";
}

h2 {
    color: #2E2E2E;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 20px;
}

.mensagem-login p {
    color: #555;
    font-size: 15px;
    margin-left: 30px;
    text-align: center;
    margin-bottom: 16px;
}

.input-group {
    display: flex;
    margin-left: 50px;
    margin-bottom: 6px;
    flex-direction: column;
}

.input-group label {
    font-weight: 700;
    color: #2E2E2E;
    margin-bottom: 5px;
}

.input-group input {
    width: 95%;
    padding: 14px;
    outline: none;
    font-size: 1rem;
    border-radius: 10px;
    border: 3px solid #A5D8FF;
}

.input-group input:focus {
    border-color: #1c3ab4;
    box-shadow: 0 0 0 2px rgba(165, 216, 255, 0.4);
}


/* Botão de login */

.btn-login {
    width: 86%;
    border: none;
    padding: 14px;
    margin-top: 4%;
    font-size: 22px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 700;
    margin-left: 10%;
    color: #FEFEFE;
    border-radius: 10px;
    font-family: "Montserrat";
    background-color: #F67E27;
}

.btn-login:hover {
    background-color: #1C3AB4;
}


/* Cores para as bolinhas */

.cor1 {
    top: 10%;
    left: 5%;
    width: 150px;
    height: 150px;
    background-color: #A5D8FF;
    animation: mover1 6s ease-in-out infinite alternate;
}

.cor2 {
    top: 26%;
    left: 35%;
    width: 220px;
    height: 220px;
    background-color: #A88CFF;
    animation: mover2 7s ease-in-out infinite alternate;
}

.cor3 {
    top: 76%;
    left: 60%;
    width: 100px;
    height: 100px;
    background-color: #DFE2CF;
    animation: mover3 6s ease-in-out infinite alternate;
}

.cor3-a {
    top: 10%;
    right: 10%;
    width: 80px;
    height: 80px;
    background-color: #DFE2CF;
    animation: mover4 7s ease-in-out infinite alternate;
}

.cor4 {
    left: 10%;
    bottom: 3%;
    width: 180px;
    height: 180px;
    background-color: #F67E27;
    animation: mover5 8s ease-in-out infinite alternate;
}

/*  Keyframes das bolinhas */

@keyframes mover1 {
    0% {
        transform: translate(0, 0) scale(1);
    }

    50% {
        transform: translate(20px, -25px) scale(1.05);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}

@keyframes mover2 {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(-25px, 30px) rotate(8deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes mover3 {
    0% {
        transform: translate(0, 0) scale(1);
    }

    50% {
        transform: translate(15px, -20px) scale(0.95);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}

@keyframes mover4 {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(-15px, 15px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes mover5 {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(30px, -15px);
    }

    100% {
        transform: translate(0, 0);
    }
}


/* Alerta caso tenha uma validação errada */

.neo-alert {
    inset: 0;
    z-index: 9999;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
}

.neo-alert-box {
    width: 320px;
    text-align: center;
    padding: 25px 35px;
    border-radius: 15px;
    background: #ffffff;
    animation: popup .2s ease;
    border-left: 8px solid #A88CFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.neo-alert-box h3 {
    font-weight: 700;
    color: #6E47E6;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.neo-alert-box p {
    color: #333;
    font-size: 1rem;
    margin-bottom: 20px;
}

.neo-alert-box button {
    border: none;
    color: #fff;
    transition: .2s;
    cursor: pointer;
    font-weight: 600;
    padding: 10px 22px;
    border-radius: 10px;
    background: #F67E27;
}

.neo-alert-box button:hover {
    background: #1C3AB4;
}

/* animação do alerta */

@keyframes popup {
    from {
        transform: scale(0.7);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}