section {
    width: 100%;
    padding: 1% 2%;
    box-sizing: border-box;
}

/* Configuração do header */

.containerHeadar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25%;
}

.titulo {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tituloItem {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #C5B3FF;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    border-radius: 15px;
    padding: 2% 3%;
    color: #fefefe;
}

.tituloItem>img {
    width: 25px;
}

/* Começa a legenda dos alertas --------------------------------*/

.legendaBox {
  background: #E9DDFB;
  margin-top: 4%;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

/* Título em forma de aba */
.legendaTitulo {
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
  background: #CBB7FF;
  padding: 6px 30px;
  border-radius: 20px;
  font-weight: 600;
  color: #fff;
  font-size: 15px;
}

/* Itens */
.legendaItem {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 14px 0;
}

.legendaItem img {
  width: 22px;
}

.legendaItem p {
  margin: 0;
  font-size: 14px;
  color: #333;
}


/* Fim da configuração do header --------------------------- */



/* Configuração dos cards de alerta */
.containerAlerta {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
    height: 40%;
}

.alertaItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    border: 2px solid #C5B3FF;
    border-radius: 15px;
    width: 16%;
    height: 48%;
    padding: 0.5%;
}

.numeroIncubadora {
    font-size: clamp(1em, 1vw, 1.5em);
    font-weight: 600;
}

.containerTemperatura {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-size: clamp(1em, 1.5vw, 1.8em);
    font-weight: 600;
}

.containerTemperatura>img {
    width: 15%;
}

/* Fim - Configuração dos cards de alerta ------------------------------------------------------------- */


/* Configuração dos graficos */
.containerInfo {
    display: flex;
    justify-content: space-between;
    height: 35%;
}

.containerGrafico {
    box-sizing: border-box;
    border: 2px solid #C5B3FF;
    border-radius: 15px;
    width: 45%;
    height: 100%;
    padding: 1%;
}


.historico {
    width: 49%;
    height: 100%;
    box-sizing: border-box;

}

.historico>h3 {
    height: 8%;
    margin-bottom: 2%;
}

.historicoContainer {
    height: 90%;
    overflow-y: scroll;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    box-sizing: border-box;
}

th,
td {
    border: 2px solid #C5B3FF;
    padding: 5px;
    text-align: left;
    box-sizing: border-box;
    height: 10%;
}


th {
    position: sticky;
    top: 0;
    background-color: #A992F3;
    color: #FEFEFE;
    box-sizing: border-box;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Configuração dos graficos ----------------------------------------------------------------- */






/* ---- CARDS DA VISÃO MACRO ---- */

.cards-salas {
  display: flex;
  gap: 20px;
  margin: 20px 0 30px 0;
}

.card-sala {
  background: #ffffff;
  padding: 18px 22px;
  border-radius: 12px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.10);
  width: 220px;
  transition: 0.3s;
  border-left: 5px solid #2D60FF;
}

.card-sala:hover {
  transform: translateY(-3px);
}

.card-sala h3 {
  margin: 0 0 10px 0;
  color: #2D60FF;
  font-size: 20px;
}

.card-sala p {
  margin: 3px 0;
  color: #333;
  font-size: 15px;
}

/* Indicador */
.status {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-top: 10px;
}

.status-critico {
  background-color: #FF3B30;
}

.status-atencao {
  background-color: #FFB84D;
}

.status-ok {
  background-color: #30D158;
}
