* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A88CFF;
}

/* CONTAINER PRINCIPAL */
.container {
    display: flex;
    width: 90%;
    max-width: 1100px;
    height: 90vh;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

/* LADO ESQUERDO */
.lado-esquerdo {
    position: relative;
    flex: 1;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.ilustracao img {
    width: 85%;
    left: 50px;
    position: relative;
}

/* BOLINHAS ANIMADAS */

.decoracao {
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
}

.bola {
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
}

/* ANIMAÇÕES DAS BOLINHAS */

@keyframes mover1 {
    0% {
        transform: translate(0, 0) scale(1);
    }

    50% {
        transform: translate(20px, -25px) scale(1.05);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}

@keyframes mover2 {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(-25px, 30px) rotate(8deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes mover3 {
    0% {
        transform: translate(0, 0) scale(1);
    }

    50% {
        transform: translate(15px, -20px) scale(0.95);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}

@keyframes mover4 {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(-15px, 15px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes mover5 {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(30px, -15px);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* CORES DAS BOLINHAS */

.cor1 {
    background-color: #A5D8FF;
    width: 150px;
    height: 150px;
    top: 10%;
    left: 5%;
    animation: mover1 6s ease-in-out infinite alternate;
}

.cor2 {
    background-color: #A88CFF;
    width: 220px;
    height: 220px;
    top: 26%;
    left: 35%;
    animation: mover2 7s ease-in-out infinite alternate;
}

.cor3 {
    background-color: #DFE2CF;
    width: 100px;
    height: 100px;
    top: 76%;
    left: 60%;
    animation: mover3 6s ease-in-out infinite alternate;
}

.cor3-a {
    background-color: #DFE2CF;
    width: 80px;
    height: 80px;
    top: 10%;
    right: 10%;
    animation: mover4 7s ease-in-out infinite alternate;
}

.cor4 {
    background-color: #F67E27;
    width: 180px;
    height: 180px;
    bottom: 3%;
    left: 10%;
    animation: mover5 8s ease-in-out infinite alternate;
}



.lado-direito {
    flex: 1;
    background-color: #FEFEFE;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    padding: 10px 20px;
    text-align: center;
    gap: 6px;
}


.logo-cadastro h1 {
margin-top: 20px;
}

.logo-cadastro span {
    color: #A88CFF;
}

/* MENSAGEM CADASTRO */

.mensagem-cadastro {
    font-size: 14px;
    color: #555;
    margin-bottom: 4px;
}

/* FORMULÁRIO */

#formCadastroHospital {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    gap: 6px;
    margin-top: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-group label {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 4px;
    text-align: left;
}

.input-group input {
    padding: 6px;
    border: 2px solid #A5D8FF;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    width: 100%;
    box-sizing: border-box;

}
.avisoSenha{
    font-size:x-small;

}

.input-group input:focus {
    border-color: #1C3AB4;
    box-shadow: 0 0 0 2px rgba(165, 216, 255, 0.4);
}

/* BOTÃO CADASTRO */

.btn-cadastro {
    background-color: #F67E27;
    color: #FEFEFE;
    border: none;
    padding: 10px 0;
    border-radius: 12px;
    font-size: 1.0rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    max-width: 460px;
    margin-top: 20px;
}


.btn-cadastro:hover {
    background-color: #1C3AB4;
}

/* LINK DE LOGIN */

.cadastro {
    margin-top: 9px;
    text-align: center;
    color: #555;
}

.cadastro a {
    color: #F67E27;
    font-weight: 500;
    text-decoration: none;
}

.cadastro a:hover {
    text-decoration: underline;
}

/* RESPONSIVO */

@media (max-width: 768px) {
    .lado-direito {
        padding: 40px 20px;
    }

    #formCadastroHospital {
        max-width: 100%;
    }
}