/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Nunito */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*Resentando todas as margens e paddings*/

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    list-style-type: none;
    background-color: #F2F4EC;
    width: 100vw;
    height: 100vh;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    color: #2E2E2E;
    overflow-x: hidden;
}

main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

section {
    width: 100%;
    padding: 2.5% 10%;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
    font-size: 800;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

/*Nav -------------------------------------------------------------------------------------------------*/

nav {
    z-index: 6;
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 10vh;
    width: 100%;
    padding: 10px 2%;
    background-color: #FEFEFE;
    box-shadow: 2px 0 4px #2E2E2E;
}

.logo {
    width: 15%;
    min-width: 150px;
}

nav>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.4rem;
    box-sizing: border-box;
}

nav>div a {
    font-family: "Nunito";
    color: #000000;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

/*main*/

main {
    width: 100%;
    height: 100%;
}

.traco {
    margin-top: -1%;
    color: rgb(38, 38, 38);
    font-size: 35px;
    font-weight: 100;
}

/*Elementos*/

.nav-btn {
    padding: 8px 10px;
    border: 2px solid #F67E27;
    border-radius: 10px;
    background-color: #FEFEFE;
}

.nav-btn a {
    font-size: 14px;
    font-weight: bold;
    color: #F67E27;
}

.nav-btn:hover,
.nav-btn a:hover {
    transition: 0.5s;
    background-color: #F67E27;
    color: #FEFEFE;
}

a {
    text-decoration: none;
    color: inherit;
}

/*Nav -------------------------------------------------------------------------------------------------*/


/*Apresentação -------------------------------------------------------------------------------------------------*/
.apresentacao {
    display: flex;
    padding-top: 15%;
    font-family: "Montserrat";
    justify-content: space-between;
    background-color: #fafafa;
}

.apresentacao-texto {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2rem;
    font-weight: 400;
    font-size: 1.1rem;
    font-family: "Nunito";
    color: #2E2E2E;
}

.apresentacao-texto p {
    display: flex;
    flex-direction: column;
    width: 96%;
    gap: 2rem;
    font-weight: 400;
    font-size: 20px;
    font-family: "Nunito";
    color: #2E2E2E;
}

.titulo {
    display: flex;
    flex-direction: column;
    width: 90%;
    z-index: 3;
    font-size: 32px;
    font-family: "Montserrat";
}

.apresentacao-btn {
    margin-left: 60%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 17px;
    border-radius: 10px;
    background-color: #F67E27;
    color: #FEFEFE;
    font-size: 16px;
    font-weight: bold;
    font-family: "Nunito";
}

.apresentacao-btn>img {
    width: 30px;
}


.apresentacao>img {
    width: 45%;
    margin-top: -9%;
}

/*Apresentação - FIM -------------------------------------------------------------------------------------------------*/


/*Valores  -------------------------------------------------------------------------------------------------*/
.valores {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.valores-texto {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.valores-grupo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/*Valores - Fim -------------------------------------------------------------------------------------------------*/


/*Serviços  -------------------------------------------------------------------------------------------------*/
.servicos-container {
    background-color: #fafafa;
}

.servicos {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

.servico {
    width: 45%;
    height: 250px;
    padding: 10px;
    border: 2px solid #F67E27;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    box-sizing: border-box;
    text-align: center;
}

/*Serviços -FIM  -------------------------------------------------------------------------------------------------*/


/*Equipe  -------------------------------------------------------------------------------------------------*/
.equipe {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.equipe>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.colaborador {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.colaborador>img {
    width: 50%;
}

/*Equipe - Fim -------------------------------------------------------------------------------------------------*/


/*Calculadora -------------------------------------------------------------------------------------------------*/
.calculadora {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
    background-color: #fafafa;
}

.inserirDados {
    width: 45%;
    background-color: #fefefe;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #7F7F7F;
}

.inputs>input {
    background-color: #F7F8F7;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;

}

.inserirDados>button {
    background-color: #F67E27;
    color: #fafafa;
    padding: 10px 0;
    border-radius: 5px;
}

.inserirDados>button:hover {
    cursor: pointer;
}

.resposta {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.card {
    width: 48%;
    height: 400px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #7F7F7F;
}

.resposta-head {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    color: #fafafa;
    border-radius: 10px 10px 0 0;
}

.rowCard {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.resultado {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.textValor {
    width: 100%;
    text-align: start;
}

.valor {
    font-size: 1.5rem;
    font-weight: 800;
}

.sem-sis {
    background-color: #522424;
}

.textSemSistema {
    color: #522424;
}

.com-sis {
    background-color: #F67E27;
}

.textComSistema {
    color: #F67E27;
}


/*Calculadora - fim -------------------------------------------------------------------------------------------------*/

/*footer  -------------------------------------------------------------------------------------------------*/
footer {
    width: 100%;
    height: 500px;
    padding: 5%;
    box-sizing: border-box;
    background-color: #1C3AB4;
    display: flex;
    justify-content: space-between;
    color: #fafafa;
}

.neo {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

.info {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.info>div>div {
    display: flex;
    align-items: center;
    gap: 10px;

}

.f-img {
    width: 24px;
}

.formes {
    width: 30%;
    height: 100%;
    border-radius: 15px;
    background-color: #A88CFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.f-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.f-input>input {
    padding: 10px;
    border-radius: 10px;
}

.f-button {
    margin-top: 20px;
    width: 100%;
    background-color: #F67E27;
    color: #fafafa;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
}

/* 
- Titulos do painel(Na pagina Analitycs/Dashboard, trocar os titulos dos gráficos e sessões para que faça mais sentido);
- Trocar o nome/imgs das paginas do painel (Analityc, Usuarios e incubadoras)
- Link do log-out;
- icone de limpar;
- Tela de login: tirar cadastro

- footer - Formulario (loop);
*/


.bolinhas {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}


.bolinhas span {
    position: absolute;
    opacity: 0.18;
    border-radius: 50%;
}

/* cores diferentes para cada bolinha */

.bolinhas span:nth-child(1) {
    margin-left: 90%;
    margin-top: 40%;
    background-color: #A5D8FF;
}

.bolinhas span:nth-child(2) {
    width: 8%;
    height: 16%;
    margin-top: -18%;
    background-color: #A5D8FF;
}

.bolinhas span:nth-child(3) {
    width: 10%;
    height: 20%;
    margin-left: -26%;
    margin-top: -16%;
    background-color: #A88CFF;
}

.bolinhas span:nth-child(4) {
    width: 9%;
    height: 19%;
    margin-top: -19%;
    background-color: #A88CFF;
}

.bolinhas span:nth-child(5) {
    width: 8%;
    height: 16%;
    background-color: #A5D8FF;
}

/* posições */
.bolinhas span:nth-child(1) {
    top: 5%;
    left: 8%;
}

.bolinhas span:nth-child(2) {
    top: 30%;
    left: -10px;
}

.bolinhas span:nth-child(3) {
    top: 75%;
    left: 12%;
}

.bolinhas span:nth-child(4) {
    top: 20%;
    right: 5%;
}

.bolinhas span:nth-child(5) {
    top: 60%;
    right: 12%;
}