<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeoGuard - Gerenciamento de Usuários</title>
    <link rel="stylesheet" href="styleCadUser.css">
    </head>

<body>
    <div class="containerPrincipal">

        <header class="barraSuperior">
            <div class="logoAplicacao">
               <img src="vetores/Logo - Positivo.svg" alt="Logo NeoGuard" class="imagemLogo">
            </div>

            <div class="menuSuperiorDireita">
                <button class="botaoPerfil">👤</button>
            </div>
        </header>

        <div class="containerConteudo">

            <aside class="barraLateral">
                <nav class="menuNavegacao">
                    <a href="/Dash/Dashboard.html" class="itemMenu ativo">
                        <span class="iconeMenu">
                            <img src="vetores/icon-home.svg" alt="Icone Casa" class="iconesLaterais">
                        </span> Dashboard
                    </a>

                    <a href="" class="itemMenu ativo">
                        <span class="iconeMenu">
                            <img src="vetores/icon-home.svg" alt="Icone Casa" class="iconesLaterais">
                        </span> Monitoramento
                    </a>

                </nav>
            </aside>

            <main class="conteudoPrincipal">
                <header class="cabecalhoPagina">
                    <h1>Gerenciamento de usuários</h1>
                    <div class="dropdownSelecao">
                        <select class="seletorDropdown">
                            <option value="todosUsuarios">Todos os leitos</option>
                        </select>
                    </div>
                </header>

                <section class="secaoAcao">
                    <button class="botaoCadastrar" id="botaoCadastrar">
                        Adicionar <img src="vetores/plus-circle.svg">
                    </button>
                </section>

                <section class="secaoTabela">
                    <table class="tabelaUsuarios" id="tabelaUsuarios">
                        <thead>
                            <tr>
                                <th class="cabecalhoTabela colunaId">ID</th>
                                <th class="cabecalhoTabela colunaNome">Nome</th>
                                <th class="cabecalhoTabela colunaEmail">Email</th>
                                <th class="cabecalhoTabela colunaNivel">Nivel</th>
                                <th class="cabecalhoTabela colunaSenha">Senha</th>
                                <th class="cabecalhoTabela colunaEditar">Editar</th>
                                <th class="cabecalhoTabela colunaExcluir">Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </section>
            </main>
        </div>
    </div>
    
    <div class="modalOverlay" id="modalOverlay">
        <div class="modalConteudo">
            <h2 class="tituloModal" id="tituloModal">Cadastrar Usuário</h2>

            <input type="hidden" id="linhaEmEdicao">

            <div class="campoFormulario">
                <label for="Nome" class="labelCampo">Nome</label>
                <input type="text" id="Nome" class="inputCampo" placeholder="Nome">
                <label for="Email" class="labelCampo">Email</label>
                <input type="text" id="Email" class="inputCampo" placeholder="Email">
                <label for="Nivel" class="labelCampo">Nivel</label>
                <input type="number" id="Nivel" class="inputCampo" placeholder="Nivel">
                <label for="Senha" class="labelCampo">Senha</label>
                <input type="text" id="Senha" class="inputCampo" placeholder="Senha">
        
            
            </div>

            <div class="acoesModal">
                <button class="botaoCadastrarModal" id="botaoCadastrarModal">Cadastrar</button>
            </div>

            <button class="botaoFecharModal" id="botaoFecharModal">X</button>
        </div>
    </div>
    
    <script src="scriptCadUser.js"></script>
</body>

</html>