/*Fonte Nunito*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    display: flex;
    background-color: #FEFEFE;
    color: #2E2E2E;
}

/*Conteiner principal do nav-bar*/
nav {
    width: 15%;
    height: 100%;
    padding: 2% 0;
    border-radius: 0 12% 12% 0;
    background-color: #A992F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*Estilização do logo*/
.logo {
    width: 80%;
    margin-bottom: 15%;
    align-self: center;
}

/* Fim da estilização do logo*/

.nav-item {
    width: 90%;
    margin-top: 5%;
    padding: 5%;
    display: flex;
    align-items: center;
    gap: 3%;
    color: #FAFAFA;
    font-weight: bold;
    font-family: "Nunito";
}

.nav-item img {
    width: 10%;
    margin-top: 3%;
    padding: 5%;
    display: flex;
    align-items: center;
    gap: 3%;
    color: #FAFAFA;
}

/*Quando estiver naquela página*/
.selecionado {
    width: 90%;
    margin-top: 5%;
    padding: 5%;
    display: flex;
    align-items: center;
    gap: 3%;
    color: #FAFAFA;
    background-color: #8560F9;
}

.nav-item:hover {
    background-color: #8560F9;
}


/**/
main {
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}