main{
    padding: 2% 0;
}
section{
    width:100%;
    padding: 0 2%;
    box-sizing: border-box;
}
.headar{
display: flex;
justify-content: space-between;
height: 20%;
}

.titulo{
    width:45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tituloItem{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #C5B3FF;
    box-sizing: border-box;
    display: flex;
    gap:20px;
    border-radius:15px;
    padding: 20px 10px;
    color: #fefefe;
}
.tituloItem > img{
    width: 25px;
}

.legenda{
    width:40% ;
    background-color: #C5B3FF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    font-size: 20px;
}
.legendaItem{
    display: flex;
    gap: 20px;
    align-items: center;
}
.legendaItem > img {
    width: 30px;
}