section{
    width:100%;
    padding: 2% 2%;
    box-sizing: border-box;
}

/* Configuração do header */
.containerHeadar{
display: flex;
justify-content: space-between;
align-items: center;
height: 25%;
}

.titulo{
    width:45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tituloItem{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #C5B3FF;
    box-sizing: border-box;
    display: flex;
    gap:20px;
    border-radius:15px;
    padding: 15px 10px;
    color: #fefefe;
}
.tituloItem > img{
    width: 25px;
}

.legenda{
    width:40% ;
    background-color: #C5B3FF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    font-size: 18px;
}
.legendaItem{
    display: flex;
    gap: 20px;
    align-items: center;
}
.legendaItem > img {
    width: 30px;
}

/* Fim da configuração do header --------------------------- */



/* Configuração dos cards de alerta */
.containerAlerta{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:6.25%;
    height: 40%;
    overflow-y: scroll;
}

.alertaItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    border: 2px solid #C5B3FF;
    border-radius: 15px;
    min-width: 200px;
    width: 15%;
    height: 50%;
    padding: 20px;
}

.numeroIncubadora{
    font-size: 18px;
    font-weight: 600;
}
.containerTemperatura{
    display: flex;
    align-items:center;
    gap: 20px;
    font-size: 21px;
    font-weight: 600;
}
.containerTemperatura > img{
    width: 30%;
}
/* Fim - Configuração dos cards de alerta ------------------------------------------------------------- */


/* Configuração dos graficos */
.containerInfo{
    height: 35%;
}
.containerGrafico{
    box-sizing: border-box;
    width: 45%;
    height: 100%;
    padding: 20px;
}
/* Configuração dos graficos ----------------------------------------------------------------- */
