main{
    padding: 2% 0;
}
section{
    width:100%;
    padding: 0 2%;
    box-sizing: border-box;
}
.headar{
    background-color: red;
display: flex;
justify-content: space-between;
}

.titulo{
    width:45% ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tituloItem{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #C5B3FF;
    display: flex;
    gap:20px;
    border-radius:15px;
    padding: 5px 10px;
    color: #fefefe;
}
.tituloItem > img{
    width: 25px;
}

.legenda{
    width:45% ;
}
.legendaItem{
    display: flex;
}
.legendaItem > img {
    width: 20px;
}