section {
    width: 100%;
    padding: 2%;
    gap: 1%;
    box-sizing: border-box;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 21px;
}

/*Estilização da sessão header*/
.header {
    height: 5%;
    display: flex;
    align-items: center;
}

/*Fim da estilização da sessão header --------------------------------------------------------------------------------------------*/


/*Estilização da primeira sessão -------------------------------------------------------------------------------------------------*/
.primeira-sessao {
    height: 39%;
}

/*Cabeçalho da primeira sessão*/
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    box-sizing: border-box;
}

.legendas {
    display: flex;
    gap: 15px;
}

.legenda {
    display: flex;
    align-items: center;
    gap: 10px
}

.legenda>img {
    width: 25px;
}

/*Alertas de temperatura*/
.alertas {
    width: 100%;
    height: 80%;
    display: flex;
    gap: 5%;
}

/*Carrossel de alertas*/
.alertas-carrosel {
    width: 80%;
    height: 100%;
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.alerta{
    background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
    flex: 0 0 20%;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.card-title {
  font-size: 1.2rem;
  color: #555;
position: relative;
bottom: 12%;
}

.card-status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 6px;
}

.card-status .icon {
  font-size: 1.3rem;
}

.card-level {
  font-weight: 600;
  font-size: 1.4rem;
  margin: 4px 0;
}

.card-time {
  font-size: 1.5rem;
  color: #888;
}

/*Total de alertas*/
.alertas-total {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total {
    width: 100%;
    height: 45%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 42px;
}

.total>h3 {
    font-size: 13px;
}
.card-status img{
    padding-right: 9%;
}
.T_critico {
    background-color: red;
    color: #FAFAFA;
}

.T_atencao {
    background-color: #F67E27;
    color: #FAFAFA;
}

/*Fim da estilização da primeira sessão ----------------------------------------------------------------------------------------*/


/*Estilização da sessão estrategica -----------------------------------------------------------------------------------------------*/
.titulo-estrategico{
    height: 5%;
    display: flex;
    align-items: center;
}

.segunda-sessao {
    height: 21%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.periodo-alertas{
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 100%;
}
.periodo-alertas > .total{
    height: 100%;
    width: 45%;
}
.grafico-pilha {
    width: 40%;
    height: 100%;
    border: 2px solid #DFE2CF;
    border-radius: 15px;
    padding: 1.5%;
  
}



.quarta-sessao {
    height: 30%;
    display: flex;
    display: flex;
    justify-content: space-between;
}

.grafico-linha {
    width: 45%;
    height: 90%;
    border: 2px solid #DFE2CF;
    border-radius: 15px;
    padding: 1.5%;
align-items: start;
display: flex;
}



/* Tabela de log*/
.historico {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #DFE2CF;
    border-radius: 15px;
    padding: 1.5%;
}

.tabela-log {
    width: 100%;
    height: 90%;
    overflow-y: auto;
    border: 1px solid #DFE2CF;
    border-radius: 5px;
}


table {
    width: 100%;
    border-spacing: 0;
}

thead {
    background-color: #A992F3;
    color: #FAFAFA;
    position: sticky;
    top: 0;
    z-index: 2;
}

th,
td {
    border: 1px solid #DFE2CF;
    padding: 10px;
    text-align: left;
    max-height: 50px;
}
tbody tr {
background-color: #FAFAFA;
}
