section {
    width: 100%;
    padding: 1.5%;
    gap: 1%;
    box-sizing: border-box;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 21px;
}

/*Estilização da sessão header*/
.header {
    border: 2px solid aqua;
    height: 5%;
    display: flex;
    align-items: center;
}

/*Fim da estilização da sessão header --------------------------------------------------------------------------------------------*/


/*Estilização da primeira sessão -------------------------------------------------------------------------------------------------*/
.primeira-sessao {
    border: 2px solid blue;
    height: 35%;
}

/*Cabeçalho da primeira sessão*/
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    box-sizing: border-box;
}

.legendas {
    display: flex;
    gap: 15px;
}

.legenda {
    display: flex;
    align-items: center;
    gap: 10px
}

.legenda>img {
    width: 25px;
}

/*Alertas de temperatura*/
.alertas {
    width: 100%;
    height: 80%;
    display: flex;
    gap: 5%;
}

/*Carrossel de alertas*/
.alertas-carrosel {
    width: 80%;
    height: 100%;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    background-color: aqua;
}

.alertas-carrosel::-webkit-scrollbar {}

.alerta {}


/*Total de alertas*/
.alertas-total {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total {
    width: 100%;
    height: 45%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 42px;
}

.total>h3 {
    font-size: 13px;
}

.T_critico {
    background-color: red;
    color: #FAFAFA;
}

.T_atencao {
    background-color: #F67E27;
    color: #FAFAFA;
}

/*Fim da estilização da primeira sessão ----------------------------------------------------------------------------------------*/


/*Estilização da sessão estrategica -----------------------------------------------------------------------------------------------*/
.titulo-estrategico{
    height: 5%;
    display: flex;
    align-items: center;
}

.segunda-sessao {
    height: 20%;
    border: 2px solid purple;
    display: flex;
    justify-content: space-between;
}
.periodo-alertas{
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 100%;
}
.periodo-alertas > .total{
    height: 100%;
    width: 45%;
}
.grafico-pilha {
    width: 45%;
    height: 100%;
    border: 2px solid #DFE2CF;
    border-radius: 15px;
    padding: 1.5%;
    box-sizing: border-box;
}



.quarta-sessao {
    border: 2px solid green;
    height: 35%;
    display: flex;
    display: flex;
    justify-content: space-between;
}

.grafico-linha {
    width: 45%;
    height: 100%;
    border: 2px solid #DFE2CF;
    border-radius: 15px;
    padding: 1.5%;
    box-sizing: border-box;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

/* Tabela de log*/
.historico {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #DFE2CF;
    border-radius: 15px;
    padding: 1.5%;
}

.tabela-log {
    width: 100%;
    height: 90%;
    overflow-y: auto;
    border: 1px solid #DFE2CF;
    border-radius: 5px;
}


table {
    width: 100%;
    border-spacing: 0;
}

thead {
    background-color: #A992F3;
    color: #FAFAFA;
    position: sticky;
    top: 0;
    z-index: 2;
}

th,
td {
    border: 1px solid #DFE2CF;
    padding: 10px;
    text-align: left;
    max-height: 50px;
}
tbody tr {
background-color: #FAFAFA;
}
