/*Resentando todas as margens e paddings*/
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
}
section{
  padding: 5% 5%;

}

body {
    list-style-type: none;
    background-color: #FEFEFE;
    width: 100vw;
    height: 100vh;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    color: #2E2E2E;
}

main {
    padding-top: 15vh;
}

section {
    width: 100%;
    padding: 5% 10%;
    box-sizing: border-box;
}
h1 {
    font-size: 3rem;
    font-size: 800;
}
h2{
    font-size: 2.5rem;
}

/*Nav -------------------------------------------------------------------------------------------------*/
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 10vh;
    width: 100%;
    padding: 10px 2%;
    background-color: #FEFEFE;
    box-shadow: 2px 0 5px #2E2E2E;
}

.logo {
    width: 15%;
    min-width: 150px;
}

nav>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    box-sizing: border-box;
}

/*main*/
main {
    width: 89vw;
    height: 90vh;
}


/*Elementos*/
.divisor {
    height: 30%;
    border-color: #2E2E2E;
}

.btn {
    padding: 10px 15px 10px 15px;
    width: auto;
    border: none;
    border-radius: 5px;
}

.btn_Primario {
    background-color: var(--laranja);
    color: #FEFEFE;
}

.btn_Secundario {
    background: none;
    border: 2px solid var(--laranja);
    color: var(--laranja);
    border-radius: 10px;
    transition: 0.4s;
    color: black;
    cursor: pointer;
    margin-left: 9%;
}

.btn_Secundario:hover {
    background-color: var(--laranja);
    transition: 0.4s;
}

.btn_Secundario>a {
    text-decoration: none;
    color: inherit;
}

.nav-btn {
    padding: 5px 10px;
    border: 2px solid #F67E27;
    border-radius: 5px;
    color: #F67E27;
    background-color: #FEFEFE;
}
.nav-btn:hover{
     background-color: #F67E27;
     color: #FEFEFE;
}

/*Nav -------------------------------------------------------------------------------------------------*/


/*Apresentação -------------------------------------------------------------------------------------------------*/
.apresentacao {
    display: flex;
    justify-content: space-between;

}


.apresentacao-texto {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1.5rem;
    font-size: 2rem;
}

.apresentacao-btn {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #F67E27;
    color: #FEFEFE;
    font-size: 1rem;
    font-weight: 600;
}

.apresentacao-btn>img {
    width: 24px;
}


.apresentacao>img {
    width: 45%;
}

/*Apresentação - FIM -------------------------------------------------------------------------------------------------*/


/*Valores  -------------------------------------------------------------------------------------------------*/
.valores{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.valores-texto{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.valores-grupo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
/*Valores - Fim -------------------------------------------------------------------------------------------------*/


/*Serviços  -------------------------------------------------------------------------------------------------*/


/*Serviços -FIM  -------------------------------------------------------------------------------------------------*/

